@import "common/colors";
.car-info {

	.car-name {
		border-left: 4px solid $theme;
		text-indent: 0.5em;
	}
	.car-img {
		width: 100%;
		padding: 4px;
		border: 1px solid #999;
		border-radius: 3px;
	}

	.video-iframe {
		width: 100%;
	}
	.award {
		text-indent: 5em;
		color: $theme - #333;
	}
	p {
		color: #666;
		span {
			margin-left: 2em;
			color: #333;
		}
	}
}
