<nav class="breadcrumb">
	<% breadcrumb.forEach(function(item, idx) { %>
	<a class="breadcrumb-item <%- (idx + 1) == breadcrumb.length ? 'active': '' %>" href="<%- item.url %>"><%- item.text %></a>
	<% }); %>
</nav>
