.media-header {
	font-size: 1rem;
	color: #666;
	padding-bottom: 1rem;
	border-bottom: 1px solid #666;
	border-color: #AAA;
	margin-bottom: 1rem;
}

.media-more {
	float: right;
}

.media {
	.media-body {
		color: #333;
		border-bottom: 1px solid #EEE;
		margin-bottom: 1rem;
		a {
			color: #333;
		}
		.media-title {

		}
		.media-meta {
			font-size: 0.6em;
			margin-right: 3rem;
		}
	}
}
