html, body {
	font-size: 14px;
	font-family: "microsoft yahei";
	overflow-x: hidden;
}

a {
	color: #333;

	&.active,
	&:hover {
		color: $theme !important;
		text-decoration: none !important;
	}
}


