.slogan {
	height: 150px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 10px 0;
	position: relative;
	span {
		position: absolute;
		right: 20px;
		bottom: 20px;

		color: $theme;
		font-size: 24px;
	}
}
