<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- libs.css -->
	<link rel="stylesheet" href="lib/tether/dist/css/tether.css">
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="lib/swiper/dist/css/swiper.css">
	<!-- yours.css -->
	<link rel="stylesheet" href="assets/css/common.css">
	<link rel="stylesheet" href="assets/css/intro.css">
</head>
<body>
	<div class="swiper-container swiper-container-vertical">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<!-- header -->
				<%- include('common/header.ejs', { activeIndex: 2 }) %>
				<div class="text-box">
					<p class="c-name">合肥工业大学越影车队</p>
					<p class="e-name">HFUT.Racing</p>
					<p class="time">From 2009 to NOW</p>
				</div>
			</div>
			<div class="swiper-slide">2</div>
			<div class="swiper-slide">

			</div>
		</div>
		<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
	</div>

	<script src="lib/jquery/dist/jquery.js"></script>
	<script src="lib/tether/dist/js/tether.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="lib/swiper/dist/js/swiper.jquery.js"></script>

	<script>
		$(function() {
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				direction: 'vertical',
				slidesPerView: 1,
				paginationClickable: true,
				spaceBetween: 30,
				mousewheelControl: true
			})
		});
	</script>
</body>
</html>
