<ul class="list-unstyled">
	<% media.forEach(function(item) { %>
		<li class="media">
			<img src="assets/img/loading.gif" alt="loading" class="d-flex mr-3">
			<div class="media-body">
				<a href="">
					<h5 class="media-title mt-0 mb-1">
						<%- item.title %>
						<span class="media-meta float-right small"><%- item.meta %></span>
					</h5>
					<p class="media-desc"><%- item.desc %></p>
				</a>
			</div>
		</li>
		<% }); %>
</ul>
